body{
  background-color: #caf7e3;
  margin: 0;
}
hr{
    border-color: #00917c;
    border-style: dashed none none;
    border-width: 5px;
    width: 35%;
    margin-left: 5px;
  }
a:link {
  color: #f48b29;
  text-decoration: none;
}
a:visited {
color: green;
}
a:hover{
  color: #2b2e4a;
  font-size: 110%;
  text-decoration: underline;
}
h1{
  color: #00917c;
}
h2{
  color: #00917c;
  margin-left: 10px;
}
table{
  margin-left: 1%;
}
